<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= csrf_meta_tag %>
    <%= javascript_importmap_tags %>
    <script>
      document.addEventListener("DOMContentLoaded", async function() {
        await import("lib/shopify_app")

        var setSessionToken = async function() {
          var SessionToken = window["app-bridge"].actions.SessionToken
          var app = window.app;

          app.dispatch(
            SessionToken.request(),
          );

          // Save a session token for future requests
          window.sessionToken = await new Promise((resolve) => {
            app.subscribe(SessionToken.Action.RESPOND, (data) => {
              resolve(data.sessionToken || "");
            });
          });
        };

        await setSessionToken();
        setInterval(() => { setSessionToken(); }, 59000);

        window.auditsPage = 1;

        var bindAuditPagination = function() {
          $("#audits .pagination-link").click(function(e) {
            e.preventDefault();
            e.stopPropagation();
            window.auditsPage = $('#audits .pagination .page a')[1].text;
            var url = $(this).attr("href");

            fetchAudits(url);
          });
        };

        var fetchAudits = function(url = "/audits") {
          var headers = new Headers({ "Authorization": "Bearer " + window.sessionToken });
          return fetch(url, { headers })
            .then(response => response.text())
            .then(data => {
              document.getElementById("audits").innerHTML = data;
              bindAuditPagination();
            });
        };

        var startAuditsPooling = function() {
          if (window.auditsPollingId !== undefined) {
            clearInterval(window.auditsPollingId);
            window.auditsPollingId = undefined;
          };

          window.auditsPollingId = setInterval(() => {
            fetchAudits("/audits?page=" + window.auditsPage);
          }, 6000);
        }

        var bindWebhooksPagination = function() {
          $("#webhooks .pagination-link").click(function(e) {
            e.preventDefault();
            e.stopPropagation();
            var url = $(this).attr("href");
            fetchWebhooks(url);
          });
        };

        var fetchWebhooks = function(url = "/webhooks") {
          var headers = new Headers({ "Authorization": "Bearer " + window.sessionToken });
          return fetch(url, { headers })
            .then(response => response.text())
            .then(data => {
              document.getElementById("webhooks").innerHTML = data;
              bindWebhooksPagination();
            });
        };

        var postCatalogLoader = function(url) {
          var headers = new Headers({
            "Authorization": "Bearer " + window.sessionToken,
            "Content-Type": "application/json"
          });
          return fetch(url, { method: 'POST', headers })
            .then(response => response.text())
            .then(data => {
              HTMLsuccessfulMessage = "<%= j render(partial: 'catalog_loader/success') %>"
              document.getElementById("catalog_loader_msg").innerHTML = HTMLsuccessfulMessage;
            });
        };

        var bindCatalogLoaderSubmit = function() {
          $("#new_catalog_loader").on("submit", function(e) {
            e.preventDefault();
            e.stopPropagation();
            var url = "/catalog_loader?" + $(this).serialize();

            postCatalogLoader(url, window.sessionToken);
          });
        };


        fetchAudits();
        startAuditsPooling();
        fetchWebhooks();
        bindCatalogLoaderSubmit();
      }, { once: true });
    </script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="m-3 p-3 main-card">
        <div class="d-flex flex-row bd-highlight mb-1 align-items-center">
          <div class="p-2 bd-highlight"><%= image_tag "logo.png", size: 90 %></div>
          <div class="p-2 bd-highlight">
            <h1 class="title-font m-0">HerboMadrid</h1>
            <h3 class="title-font secondary-font-color m-0">Provider's catalog manager</h3>
          </div>
        </div>

        <%= render partial: "catalog_loader/new" %>

        <hr/>

        <div id="audits">
          <div class="card mb-3">
            <div class="card-body">
              <div class="d-flex flex-row justify-content-center bd-highlight pt-3 pb-3 align-items-center">
                <div class="bd-highlight text-center">
                  <%= image_tag "loading.gif", size: 60 %>
                  <h6 class="title-font m-0">loading</h6>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="webhooks">
          <div class="card mb-3">
            <div class="card-body">
              <div class="d-flex flex-row justify-content-center bd-highlight pt-3 pb-3 align-items-center">
                <div class="bd-highlight text-center">
                  <%= image_tag "loading.gif", size: 60 %>
                  <h6 class="title-font m-0">loading</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
