<div class="m-2 mt-0">
  <h5 class="title-font mb-1">Filter</h5>
  <%= form_with url: audits_path, method: :get, id: "audits_filter" do |form| %>
    <div class="form-group">
      <%= label :audit, :status, "Status" %>
      <%= form.select :status, Audit::STATUSES.map { [_1.humanize, _1] },
                      { prompt: "Select a status" },
                      { class: "form-control" } %>

    </div>
    <br/>
    <%= form.submit "Search", class: "btn btn-primary border border-dark" %>
    <%= link_to "Clear", "", class: "btn btn-default border border-dark", onclick: "clearAuditsFilter()" %>
  <% end %>
</div>
