
<div class="card mb-3">
  <div class="card-body">
    <div class="d-flex flex-row bd-highlight pt-3 pb-3 align-items-center">
      <div class="bd-highlight"><%= image_tag "log-icon.png", size: 60 %></div>
      <div class="bd-highlight">
        <h3 class="title-font m-0">Audit</h3>
        <h5 class="title-font secondary-font-color m-0">
          Check log of latest actions done by the sync manager
        </h5>
      </div>
    </div>
    <div class="m-2">
    <% if @audits.present? %>
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Operation</th>
            <th scope="col">Status</th>
            <th scope="col">Started at</th>
            <th scope="col">Succeeded at</th>
            <th scope="col">Failed at</th>
            <th scope="col">Message</th>
          </tr>
        </thead>
        <tbody>
          <% @audits.each do |audit| %>
            <tr>
              <td><%= audit.operation_id%></td>
              <td>
                <span class="badge bg-<%= audit.status == 'failed' ? "danger" : "success" %>">
                  <%= audit.status %>
                </span>
              </td>
              <td><%= audit.started_at%></td>
              <td><%= audit.succeeded_at%></td>
              <td><%= audit.failed_at%></td>
              <td><%= audit.message%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="alert alert-secondary" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        There's no audits registered yet.
      </div>
    <% end %>
    </div>
  </div>
</div>
